body {
  background-color: #430f58;
  font-family: "Poppins", sans-serif;
}

select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
}

h1 {
  text-align: center;
  font-size: 36px;
  color: #430f58;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  box-shadow: 3px 6px 25px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.city {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  padding: 20px 0;
}

.city:last-child {
  border: none;
}

.city h2 {
  margin: 0 0 5px;
  font-size: 28px;
  color: #6643b5;
}

.date {
  color: #8594e4;
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
  color: #430f58;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}

.back_btn {
  text-decoration: none;
  font-size: 22px;
  color: #430f58;
}

.back_btn:hover {
  color: #8594e4;
  cursor: pointer;
}

.back_btn:visited {
  color: #6643b5;
}

footer {
  text-align: center;
  font-size: 18px;
  color: #d5def5;
}

footer a {
  color: #8594e4;
}

footer a:hover {
  cursor: pointer;
}

footer a:visited {
  color: #6643b5;
}
